#gamePanel {
    height: 500px;
    width: 500px;
    background-color: white;
    border: 10px solid gray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
}



.circle {
    height: 55px;
    width: 55px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid navy;
}



#c-p {
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;
    background-color: blue;
    margin: 0 auto;
    margin-bottom: 10px;

}

#table {

    margin: auto;
    padding-left: 13%;

}

#col1 {

    /* border: 1px solid black; */

}

#col2 {
    width: 200px;

    /* border: 1px solid black; */

    padding-left: 10%;


}


#logoImage{

    margin: 1%;
  


}


body{
    background-image: url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif');

    background-size: cover;

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    
    height: 100vh;
    padding:0;
    margin:0;
}